@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* All apply common style */
body {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

.btn-primary {
    color: #005FAC;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: #FFF;
    border: none;
    padding: 20px 40px;
}

/* Header Section */
#header {
    margin-top: 0px;
    background: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 0.1px;
}

.header-content {
    text-align: right;
    margin: 180px 210px;
}

.header-title {
    color: #FFF;
    font-size: 60px;
    font-weight: 700;
}

.header-description {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
}

/* Previous year section */
#previous-year {
    margin: 180px 180px;
}

.previous-year-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.previous-year-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.previous-year-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}

.previous-year-list li {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    list-style-image: url('../images/icons/check\ 1.png');
}

/* Plan Section */
#plan {
    margin: 180px 180px 20px;
    text-align: center;
}

.plan-title {
    color: #151414;
    font-size: 35px;
    font-weight: 700;
}

.doing-task {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 60px;
}

.doing-task-title {
    color: var #151414;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}

.doing-task-description {
    color: #737272;
    font-size: 20px;
    font-weight: 500;
}

#plan .image {
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    background-repeat: no-repeat;
    height: 300px;
    padding: 30px 60px 60px;
    text-align: left;
}

#plan .image-title {
    color: #FFF;
    font-size: 35px;
    font-weight: 700;
}

/* Footer Section */
#footer {
    background: #151414;
    height: 400px;
}

.foot-container {
    padding: 0px 180px;
    display: flex;
    justify-content: space-between;
    gap: 300px;
}

.foot-title {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
}

.foot-description {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.foot-logo {
    margin-right: 20px;
}

.foot-title-small {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
}

.foot-column input {
    display: block;
    color: #F3F3F3;
    font-size: 18px;
    font-weight: 400;
    padding: 15px 60px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #FFF;
    background: #141313;
}